$title_margin_top:20vh;
$title_height:11vh;
.about-wrapper{
  @extend .works-wrapper;
    .portfolio_header_bg1{
      &::after{
        background-image: url(/assets/img/svg/about_header_white.svg);
      }
    }
}
.section-about{
  height: 100+$title_margin_top;
  min-height: 600px;
  color: #465D69;
  margin-top: -$title_margin_top;
}
.about-me__title, .my-skills__title{
  margin-top: $title_margin_top;
  overflow: visible;
  text-align: center;
  height: $title_height;
  position: relative;
  h2{
    display: inline-block;
    position: relative;
    font-family: Bernier-Regular;
    font-weight: normal;
    margin: 0.7vw 0 0 0;
    color: #373E42;
  }
}
.about-me__title{
  h2{
    font-size: 3.5vw;
    @include two-strips();
  }
  &::after{
    background-image: url(/assets/img/svg/about_header.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0.1;
  }
}
.about-me, .my-skills{
  background-image: url(/assets/img/svg/about_bg_left.svg);
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: cover;
  overflow: hidden;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.about-me-description-box{
  height: 100-$title_height;
  position: relative;
}
.about-me-center-box{
  display: inline-block;
  position: absolute;
  top:45%;
  left:50%;
  transform:translate(-50%, -50%);
  .ava__img{
    border-radius: 6px;
  }
}
.about-me-description{
  h2{
    margin: 1vw 0 ;
    display: inline-block;
    position: relative;
    font-family: Bernier-Regular;
    font-weight: normal;
    font-size: 2vw;
    @include two-strips(1.3vw, 0.3vw, 1vw);
  }
  p{
    font-size: 0.9rem;
    margin: 0 0 0.5rem 0;
    text-align: left;
    &:last-child{
      margin: 0;
    }
  }
}
.about-me-photo{
  width: 100%;
  img{
    width: 100%;
  }
}
.my-skills{
  background-image: url(/assets/img/svg/about_bg_right.svg);
  background-position:  center 0.4vh;
  float: right;
}
.my-skills__title{
  h2{
    color: #465D69;
    font-size: 2vw;
    @include two-strips(1.3vw, 0.3vw, 1vw);
  }
}
$skills__desk_height:10vh;
.my-skills__desk{
  text-align: left;
  height: $skills__desk_height;
  width: 100%;
  text-align: center;
  p{
    display: inline-block;
    width: 90%;
    font-size: 1rem;
    text-align: left;
  }
}
.my-skills-box{
  height: (100-$title_height)-$skills__desk_height;
  position: relative;
  display: inline-block;
  width: 90%;

}
.my-skills-box-ceenter{
  //outline: 1px solid #000;
  width: 100%;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}
.my-skills-list-box{
  margin-bottom: 2vw;
  h3{
    margin: 0;
    text-align: left;
    font-size: 1.7vw;
  }
}
$skills_list:7vw;
.my-skills-list{
  margin: 1vw 0;
  width: 100%;
  height: $skills_list;
  text-align: left;
}
.my-skills__item{
 // outline: 1px solid #000;
  display: inline-block;
  width: $skills_list;
  height: $skills_list;
  margin-right: 3vw;
  position: relative;
  span{
    position: absolute;
    display: inline-block;
    left: 50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size: 0.8vw;
    color: #11BFA8;
    font-weight: bold;
    text-align: center;

  }
}

svg{
  width: 100%;
  height: 100%;
}
.g-circles {
      fill: none;
      stroke-width: 55;
    }
.sector {
  stroke-dasharray:7 722;
  transition: all 3s;
}

.section-contacts{
  background-color: rgba(#60D8C7, 1);
  height: 100vh;
  min-height: 600px;
  position: relative;
}

//////////////////////////////////////////////////
.contacts{
  border-radius: 0.16rem;
  background-color: rgba(#fff, 0.9);
  position: absolute;
  width: 17rem; 
  padding-bottom: 1.5rem;
  left: 50%;
  top:40%;
  transform:translate(-50%, -50%);
  text-align: center;
}
 .contacts__title{
  margin: 1rem 0 0.7rem 0;
  h3{
    position: relative;
    display: inline-block;
    margin: 0;
    width: auto;
    font-family: Bernier-Regular;
    font-size: 1.7rem;
    font-weight: normal;
    @include two-strips(1rem, 0.16rem, .8rem, -1.8rem, 2rem);
  }
 }
.contacts__list{
  display: inline-block;
  width: 80%;
  text-align: left;
}
li.contacts__item{
  position: relative;
  //outline: 1px solid #000;
  padding: 0.5rem 1rem 0.5rem 2rem;
  color: #6F8185;
  font-size: 1rem;
  svg{
    position: absolute;
    left: 0.2vh;
    top:1vh;
    fill:#02BDA1;
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 1026px) {
  .section-about{
    height: auto;
  }
  .about-me, .my-skills{
    background-image: none;
    position: static;
    width: 100%;
    height: auto;
    float: none;
    overflow: visible;
  }
  .about-me__title{
    background-color: #fff;
    height: 10vh;
    min-height: 60px;
    margin-top: 20vh;
    &::before{
      background-image: url(/assets/img/svg/bg_2.svg);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 200%;
      min-height: 20vw;
      bottom: 0;
      left: 0;
      display: block;  
    }
    h2{
      font-size: 6vw;
      //margin-top: 3vw;
      @include two-strips(3vw, 1vw, 2.8vw, -6vw, 6vw);
    }
  }

  .about-me-description-box{
    background-color:  #F0EEE9;
    height: auto;
  }
  .about-me-description{
    h2{
      margin: 4vw 0 2vw ;
      font-size: 4vw;
      @include two-strips(2vw, 0.5vw, 2vw, -4.5vw, 4.5vw);
    }
    p{
      text-align: justify;
    }
  }
  .about-me-center-box{
    position: static;
    transform:none;
    margin-bottom: 0 1.5rem;
    padding: 2vw 20vw 6vw 20vw;
    .ava__img{
      border-radius: 4px;
      margin-top: 0;
    }
  }
  .my-skills{
    background-color: #EFEBDF;
  }
  .my-skills__title{
  padding-top: 6vh;
    margin-top: 0;
    height: auto;
  }
  .my-skills__desk{
    height: auto;
    p{
      text-align: justify;
      letter-spacing: 1px;
      width: 60%;
      margin: 2vw 0;
    }
  }
  .my-skills-box{
    height: auto;
    position: relative;
  }
  .my-skills-box-ceenter{
    position: static;
    transform:translateY(0);
    padding-bottom: 1.5rem;
  }
  .my-skills-list-box{
    text-align: center;
    margin-bottom: 1vw;
    h3{
      text-align: center;
      font-size: 3vw;
      padding-top: 1.5rem;
    }
  }
  .my-skills-list{
    display: inline-block;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-top: 2vw;
  }
  .my-skills__item{
    display: inline-block;
    width: 20vw;
    height: 15vw;
    margin: 0;
    span{
      font-size: 1.5vw;
    }
  }
  .my-skills__title{
    h2{
      font-size: 4vw;
      margin-top: 0;
      @include two-strips(2vw, 0.5vw, 2vw, -4.5vw, 4.5vw);
    }
  }

}
@media (max-width: 416px) {
  .about-me__title{
    h2{
      font-size: 2rem;
      margin-top: 2vh;
      @include two-strips(1rem, 0.32rem, 1rem, -1.8rem, 1.7rem);
    }
  }
  .about-me-description{
    padding-bottom: 0.5rem;
    h2{
      margin: 1rem 0 ;
      font-size: 1.5rem;
      @include two-strips(1rem, 0.32rem, 0.8rem, -1.8rem, 1.7rem);
    }
  }
  .about-me-center-box{
    margin-bottom: 0 1.5rem;
    padding: 1rem;
  }
  .my-skills__title{
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .my-skills__desk{
    p{
      width: 90vw;
    }
  }
  .my-skills-list-box{
    margin-bottom: 0.5rem;
    h3{
      font-size: 1.3rem;
    }
  }
  .my-skills__item{
    span{
      top:110%;
      transform:translate(-50%, 0);
      width: 100%;
      font-size: 0.7rem;
    }
  }
  .my-skills__title{
    h2{
      font-size: 1.5rem;
      @include two-strips(1rem, 0.32rem, 0.8rem, -1.8rem, 1.7rem);
    }
  }
  .section-contacts{
    background-color: rgba(#F0EEE9, 1);
    height: auto;
    min-height: 300px;
    position: relative;
    overflow: hidden;
  }
  .contacts{
    background-color: rgba(#fff, 1);
    display: block;
    width: 90%;
    position: static;
    padding-top: 0.8rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transform: translate(0, 0);
  }

}