.admin-wrapper{
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
}
.admin-wrapper-box{
  background-color: rgba(#fff, 0.5);
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.admin-header{
  overflow: hidden;
}
.admin-header-top-box{
  background-color: #00BEA3;
  padding: 0 2vw;
  overflow: hidden;
  h1{
    display: inline-block;
    margin: 1rem 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
  }
}
#admin-exit{
  float: right;
  color: #fff;
  text-decoration: underline;
  font-size: 0.8rem;
  opacity: 0.7;
  margin: 1.4rem 0;
}
.admin-nav{
  margin-top: 2px;
  background-color: #F0EFEA;
}
.clearfix::before, .clearfix::after{
  content: "";
  display: table;
}
.clearfix::after{
  clear: both;
}

.admin-nav__item{
  border-right: 2px solid #fff;
  float: left;
  width: 8rem;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: #768488;
  cursor: pointer;
  &:hover{
    background-color: #E2E1DD;
  }
}
.admin-nav__item.active{
  background-color: #fff;
  color:  #00BEA3;
}
.admin-content{
  width: 96vw;
  margin: auto;
  padding:3rem 0 1rem;
}
///////////////////////about////////////////////////
.admin-about-me{
  h3{
    margin: 0 0 2rem 0;
    color: #455A63;
  }
}
.admin-about-me-box{
  border: none;
  display: inline-block;
  margin: 0 5rem 1rem 0;
  padding: 0;
  width: 10rem;
  font-size: 1rem;
  color: #415B68;
}
.admin-about-me-label{
  display: block;
  height: 1.5rem;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 1rem;
  padding: 0 1rem 0 0;
  position: relative;
  color: #415B68;
  &:first-child{
    margin-top: 1rem;
  }
  &::after{
    content: "%";
    position: absolute;
    right: 0;
    top:50%;
    transform:translateY(-50%);
  }
  input{
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    width: 2rem;
    height: 100%;
    float: right;
    text-align: center;
    color: #47484A;
    &:focus{
      border-color: #01BFA5;
    }

  }
}
#admin-about-me__save{
  background-color: #00BEA3;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
  color: #fff;
  font-size: 0.9rem;
}
// #admin-about-me{
//   display: none;
// }
///////////////////////about////////////////////////


//////////////////////blog///////////////////////

.admin-blog{
  color: #415B68;
  h3{
    margin:0 0 1.5rem 0;
  }
  p{
    margin: 0 0 -0.5rem 0;
    font-size: 0.8rem;
    font-weight: bold;
  }
  input, textarea{
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    display: block;
    margin: 1rem 0 0 0;
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    color: #445D67;
    position: relative;

    &:focus{
      border-color: #01BFA5;
    }
  }
  input{
    width: 14rem;
  }
  textarea{
    min-width: 40vw;
    max-width: 100%;
    max-height: 50vh;
    &::-webkit-scrollbar {
      width: 15px;
      position: relative;
      left: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #D0D0D0;
      border-radius: 3px;
      border: 10px solid #fff;
      border-left: none;
      height: 50px;
    }
  }
}
#admin-blog__save{
  @extend #admin-about-me__save;
  margin-top: 1.5rem;
}
//#admin-blog{display: none;}
//////////////////////blog///////////////////////

/////////////////////my works///////////////////////
.admin-works{
  @extend .admin-blog;
}
.admin-works__project-select-image{
 // background-color: #ccc;
  margin: 1rem 0 0 0;
  color: #01A08B;
  font-weight: bold;
  font-size: 0.9rem;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  position: relative;
  &::before, &::after{
    content: "";
    background-color: #01A08B;
    position: absolute;
    left: 1rem;
    top: 0.7rem;
    width: 3px;
    height: 10px;
  }
  &::after{
    transform:rotate(90deg);

  }
  input{
    display: none;
  }
}
#admin-works__save{
  @extend #admin-about-me__save;
  margin-top: 1.5rem;
}
// #admin-works{
//   display: none;
// }
/////////////////////my works///////////////////////
@media (max-width: 1026px) {
  .admin-blog.admin-blog{
    textarea{
      min-width: 100%;
    }
  }
}

@media (max-width: 416px) {
  .admin-header-top-box{
    text-align: center;
    h1{
      display: block;
    }
  }
  .admin-nav__item.admin-nav__item{
    border-right: none;
    border-bottom: 2px solid #fff;
    clear: both;
    width: 100%;
  }
  #admin-exit{
    clear: both;
    float: none;
    display: inline-block;
  }
  .admin-blog.admin-blog{
    input{
      width: 100%;
      padding: 0.7rem;
    }
    textarea{
      min-width: 100%;
    }
  }
}