.blog-wrapper{
  .portfolio_header_bg1{
    &::after{
      background-image: url(/assets/img/svg/blog_header.svg);
      background-size: 30%;
      background-position: center 65%;
    }
  }
 
}
.section-articles{
  background-color: #fff;
  padding-top: 4vw;
  position: relative;
  padding-bottom: $footer_height;
  color: #4E5962;
  h3, p{
    margin: 0;
  }
  &::after{
    content: "";
    background-image: url(/assets/img/svg/bg_white.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: absolute;
    top:-25vh;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -1;
  }
}
.section-articles-box{
  display: flex;
  min-height: 100vh;
}
.blog_aside{
  //background-color: red;
  width: 25vw;
  text-align: right;
}
.blog_aside__list{
  display: inline-block;
  width: 24vw;
 // margin-left: 2.5vw;
}
#blog_aside__list_button{
  display: none;
}
.blog_aside__item{
  padding: 0.5rem 1rem;
  position: relative;
  line-height: 1.5;
  // cursor: pointer;
 
  &.active{
    color: #02BFA4;
    font-weight: bold;
    &::after{
      background-color: #02BFA4;
      position: absolute;
      content: "";
      width: 3px;
      height: 100%;
      right: 0;
      top:0;
    }
  }
}
.articles-list{
  width: 75vw;
  //background-color: #ccc;
  text-align: center;
}
.article-list-box{
  display: inline-block;
  width: 80%;
  text-align: left;
}
.article{
  position: relative;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  &::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #F1F1F3;
    bottom: 0;
    left: 0;
  }
}
.article__header{
  margin-bottom: 1rem;
  width:60%; 
  h3{
     font-family: Bernier-Regular;
     font-size: 1.8rem;
     font-weight: normal;
     color: #455964;
  }
}
.article__data{
  margin-bottom: 1rem;
  color: #02BFA4;
}
.article__text{
  line-height: 1.5;
  p{
    text-indent: 1rem;
    margin-top: 0.5rem;
  }
}
.blog-wrapper .footer{
  .arrow-top{
    display: none;
    position: fixed;
    left:100%;
    bottom: 25%;
    transform: translateX(-100%);
    
   &:hover{
     bottom: 25.7%;
   }
    svg{
      fill:#565B5F;
    }
  }
}

@media (max-width: 780px) {
  .section-articles{
    padding-bottom: 0;
  }
  .blog_aside{
    background-color: rgba(#00BEA3, 1);
    width: 300px;
    position: absolute;
    top: 4vw;
    height: 100%;
    text-align: right;
    z-index: 10;
    left: -300px;
    transition: 500ms;
  }
  .articles-list{
    width: 100vw;
  }
  .blog_aside__list{
    background-color: rgba(#00BEA3, 1);
    width: 300px;
    position: relative;
    transition: 500ms;
  }
  #blog_aside__list_button{
    background-color: rgba(#00BEA3, 1);
    border-radius: 50%;
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -1rem;
    top: 40vh;
  }
  .blog_aside__item{
    padding: 0.5rem 1rem 0.5rem 0.16rem;
    &.active{
      color: #fff;
      &::after{
        background-color: #000;
      }
    }
  }
  .article-list-box{
    display: inline-block;
    width: 90%;
  }
  .article__header{
    margin-bottom: 0.5rem;
    width:100%; 
    h3{
       font-size: 1.4rem;
    }
  }
  .article__data{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  .blog-wrapper .footer{
    position: static;
    .arrow-top{
     bottom: 1vh;
      a{
         display: block;
         height: 50px;
         width: 50px;
      }
      svg{
          opacity: 1;
      }
    }
  }
}