footer.footer
  .arrow-top
    a#show-works(href="#hidden-link-top")
      svg
        use(xlink:href="#arrow_down_icon")
  .footer-box
    .footer-menu
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item
            a(href="index.html") Главная
          li.footer-nav__item 
            a(href="works.html") Мои работы
          li.footer-nav__item 
             a(href="about.html") Обо мне
          li.footer-nav__item 
            a(href="blog.html") Блог
      .footer-social
        .social.social-in-circle
          include ../includes/social.pug
    .footer-copyright
      .footer-copyright__left Я веб разваботчик, из Хмельницкого, и этот сайт я сделал в рамках одного из обучающих курсов, найденых на просторах интернета.
      .footer-copyright__right © Александр Лычик | создано с любовью <span> 2017<span> 