footer.footer
  .arrow-top
    a#show-works(href="#hidden-link-top")
      svg
        use(xlink:href="#arrow_down_icon")
  .footer-box
    .footer-menu
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item 
            a(href="works.html") Мои работы
          li.footer-nav__item 
             a(href="about.html") Обо мне
          li.footer-nav__item 
            a(href="blog.html") Блог
      .footer-social
        .social.social-in-circle
          include ../includes/social.pug
    .footer-copyright
      .footer-copyright__left Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur
      .footer-copyright__right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam,