.index-content-box
  .index-content-main
    .ava
      img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
    .autor
      h1.autor__name Лычик Александр
      h3.autor__description Личный сайт веб разработчика
    .social
      ul.social__list
        li.social__item
          svg
            use(xlink:href="#vk_icon")
        li.social__item 
          svg
            use(xlink:href="#git_icon")
        li.social__item
          svg
            use(xlink:href="#in_icon")
  nav.index-nav
    ul.index-nav__list
      li.index-nav__item-works Мои работы 
      li.index-nav__item-about Обо мне
      li.index-nav__item-blog Блог