.index-content-box
  .index-content-main
    .ava
      img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
    .autor
      h1.autor__name Лычик Александр
      h3.autor__description Личный сайт веб разработчика
    .social
      include social.pug
      socal.pug 
  nav.index-nav
    ul.index-nav__list
      li.index-nav__item-works Мои работы
        a(href="works.html")
      li.index-nav__item-about Обо мне
        a(href="about.html")
      li.index-nav__item-blog Блог
        a(href="blog.html")