.loader-wrapper
  .loader-box
    .loader
      .loader__sircle-box
        span.loader__sircle.loader__sircle_one
      .loader__sircle-box
        span.loader__sircle.loader__sircle_two
      .loader__sircle-box
        span.loader__sircle.loader__sircle_three
      span.loader__percent 0%

