.login-wrapper
  .login-box
    form.login-form
      h1.login-form__header Авторизуйтесь
      .login-form__login
        label(for="login")
          svg
            use(xlink:href="#login_icon")
        input#login(type="text" placeholder="Логин")
      .login-form__password
        label(for="password")
          svg
            use(xlink:href="#password_icon")
        input#password(type="text" placeholder="Пароль")
      p.checkbox-box
        input(type="checkbox" id="loginform_check")
        label(for="loginform_check") Я человек
      .login-form__radio
        p Вы точно не робот?
        input(type="radio" id="radio_yes" name="answer" value="true")
        label(for="radio_yes") Да
          span
        input(type="radio" id="radio_no" name="answer"  value="false")
        label(for="radio_no") Не уверен
  nav.login-nav
    ul.login-nav__list
      li.login-nav__enter На главную
      li.login-nav__to-main Войти