header.portfolio_header
  .curtains
    nav.main-nav#main-nav
      ul.main-nav-list
        li.main-nav-list-item
          a(href="index.html") Главная
        li.main-nav-list-item
          a(href="works.html") Мои работы
        li.main-nav-list-item
          a(href="about.html") Обо мне
        li.main-nav-list-item
          a(href="blog.html") Блог
     
    .curtain-left
    .curtain-right

  .portfolio_header_bg
    .portfolio_header_bg1
  .social.social-white
    include ../includes/social.pug
  .menu-button#menu-button
    span
    span
    span
  .index-content
    .index-content-box
      .index-content-main.index-content-main_transparent
        .ava.ava_bigger
          img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
        .autor
          h1.autor__name #{autor}
          h3.autor__description #{desc}
.arrow-down
  a#show-works(href="#second-section")
    svg
      use(xlink:href="#arrow_down_icon")