ul.social__list
  li.social__item
    a(href="https://www.facebook.com/AleksandrLychyk" target="_blank")
      svg
        use(xlink:href="#fb_icon")
  li.social__item
    a(href="https://github.com" target="_blank")
      svg
        use(xlink:href="#git_icon")
  li.social__item
    a(href="https://www.linkedin.com" target="_blank")
      svg
        use(xlink:href="#in_icon")