.ava{
  height: 60%;
  overflow: hidden;
}
.ava__img{
  display: block;
  margin: auto;
  margin-top: 10%;
  border-radius:  50%;
  width: auto;
  height: 75%;
}
.autor{
  height: 20%;
}
.autor__name, .autor__description{
  margin: 0;
  font-weight: bold;
}
.autor__name{
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  color: #435762;
}
.autor__description{
   font-size: 0.9rem;
   color: #7A8486;
   font-weight: normal;
   padding-top: 0.2rem;
}