.footer{
  background-color: rgba(#2F4246, 0.9);
  height: $footer_height;
  width: 100%;
  position: absolute;
  bottom:0;
  // overflow: hidden;
  &::after{
    content: "";
    background-color: rgba(#fff, 0.2);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
  }
}
.arrow-top{
  @extend .arrow-down;
  bottom: 2 + $footer_height;
  //top: -6vh;
  &:hover{
    transform:translate(-50%, -0.2rem);
  }
  svg{
    transform:rotate(180deg);
  }
}
.about-wrapper .arrow-top svg{
   fill:#2F4246;
}
.footer-box{
  padding: 0 1%;
  height: 100%;
}
.footer-menu{
  height: 50%;
  width: 100%;
  position: relative;
}
nav.footer-nav{
  float: left;
  height: 100%;
}
.footer-nav__list{
   margin-top: 2.3vh;
}
.footer-nav__item{
  display: inline-block;
  margin-right: 2rem;
  a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
}
.social-in-circle{
  float: right;
  margin: 1vh 0;
  .social__item{
    $size:4.5vh;
    border: 1px solid rgba(#fff, 0.4);
    border-radius: 50%;
    width: $size;
    height: $size; 
    margin: 0.6vh;
    cursor: pointer;
    svg{
      fill:#fff;
      padding: 0.7vh;
    }
    &:hover{
      background-color: #fff;
    }
     &:hover svg{
      fill: #2F4246;
    }   
  }
}
.footer-copyright{
  height: 50%;
  width: 100%;
  padding-top: 0.5vw;
}
.footer-copyright__left, .footer-copyright__right {
  display: inline-block;
  height: 100%;
  width: 42%;
  color: #90999C;
  font-size: 0.8rem;
  float: left;
}
.footer-copyright__right{
  float: right;
  text-align: right;
}