.footer{
  background-color: rgba(#2F4246, 0.9);
  height: $footer_height;
  min-height: 120px;
  width: 100%;
  position: absolute;
  bottom:0;
  // overflow: hidden;
  &::after{
    content: "";
    background-color: rgba(#fff, 0.2);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
  }
}
.arrow-top{
  @extend .arrow-down;
  bottom: 2 + $footer_height;
  //top: -6vh;
  &:hover{
    transform:translate(-50%, -0.2rem);
  }
}
.about-wrapper .arrow-top svg{
   fill:#2F4246;
}
.footer-box{
  padding: 0 1%;
  height: 100%;
  overflow: hidden;
}
.footer-menu{
  height: 50%;
  width: 100%;
  position: relative;
}
nav.footer-nav{
  float: left;
  height: 100%;
}
.footer-nav__list{
   margin-top: 2.3vh;
}
.footer-nav__item{
  display: inline-block;
  margin-right: 2rem;
  a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
  &:last-child{
    margin-right: 0;
  }
}
.footer-social{
  float: right;
  margin: 1vh 0;
}
.social-in-circle{
  .social__list{
    transform:translateY(0);
    top: 0;
  }
  .social__item{
    $size:4.5vh;
    border: 1px solid rgba(#fff, 0.4);
    border-radius: 50%;
    width: $size;
    height: $size; 
    margin: 0.6vh;
    cursor: pointer;
    svg{
      fill:#fff;
      padding: 0.7vh;
    }
    &:hover{
      background-color: #fff;
    }
     &:hover svg{
      fill: #2F4246;
    }   
  }
}
.footer-copyright{
  height: 50%;
  width: 100%;
  padding-top: 0.5vw;
}
.footer-copyright__left, .footer-copyright__right {
  display: inline-block;
  height: 100%;
  width: 42%;
  color: #90999C;
  font-size: 0.8rem;
  float: left;
}
.footer-copyright__right{
  float: right;
  text-align: right;
}
@media (max-width: 669px) and (orientation:landscape){
  .footer{
    background-color: rgba(#2F4246, 1);
    position: relative;
  }
  .arrow-top{
    bottom: 40vh;
  }
}

@media (max-width: 416px) {
  .footer{
    background-color: rgba(#2F4246, 1);
    height: 40vh;
    min-height: 250px;
    position: relative;
    &::after{
      top: 40%;
    }
  }
  .arrow-top a{
   display: none;
  }
  .footer-menu{
    height: 40%;
    overflow: hidden;
  }
  .footer-copyright{
    height: 60%;
  }
  .footer-copyright__left, .footer-copyright__right {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    span{
      display: block;
    }
  }
  nav.footer-nav{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .footer-nav__list{
    display: inline-block;
    margin-top: 3vh;
  }
  .footer-nav__item{
    display: inline-block;
    margin-right: 1rem;
    a{
      font-size: 0.8rem;
    }
  }
  .footer-social{
    float: none;
    display: inline-block;
    margin-top: 3%;
    width: 100%;
  }
  .social-in-circle .social__item{
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 10px;
    svg{
      padding: 0.4rem;
    }
  }
}