.index-nav{
  border-radius: 0 0 $br_radius $br_radius;
  height: $nav_size;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.index-nav__list{
  height: 100%;
  text-align: center;
  line-height: 2rem;
  li{
    background-color: rgba(#09B19E, 1);
    min-width: 10%;
    color: #fff;
    font-size: 0.8rem;
    float: left;
    height: 100%;
    cursor: pointer;
    position: relative;
    &:hover{
      background-color: rgba(#09B19E, 0.5);
    }
  }
  a{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
.index-nav__item-works{
  width: 42%;
}
.index-nav__item-about{
  border-right: 0.1rem solid;
  border-left: 0.1rem solid;
  border-color: rgba(#fff, 0.6);
  width: 32%;
}
.index-nav__item-blog{
  width: 26%;
}