.index-content-box{
  border-radius: 0.3rem;
  display: inline-block;
  width: 19rem;
 
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
.index-content-main{
  background-color: rgba(#F6F6F6, 0.80);
  height: 17.7rem;
  margin-bottom: 2.24rem;
  overflow: hidden;
}
@import'autor.scss';
@import'social.scss';
@import'index-nav.scss';