$br_radius:0.3rem;
$box_size:19rem;
$nav_size:2.24rem;
.index-content-box{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
.index-content-main{
  border-radius: $br_radius $br_radius 0 0;
  background-color: rgba(#fff, 0.80);
  width: $box_size;
  height: $box_size - $nav_size;
  margin-bottom: $nav_size;
  overflow: hidden;
}
@import'autor.scss';
@import'social.scss';
@import'index-nav.scss';