.parallax {
  background-image: url("/assets/img/bg/bg_0.jpg");
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.parallax__layer {
  position: absolute;
  top:0;
  right: -2.8%;
  left: -2.8%;
  bottom: 0%;
  img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom: -25%;
  }
}


