.portfolio_header{
  height: 100vh;
  position: relative;
  text-align: center;
}
.curtains{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.curtain-left, .curtain-right{
  background-color: rgba(#02BFA4, 0.9);
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  transition:300ms;
}
.curtain-left{
  right: 100%;
}
.closeCurtainsL{
  right: 50%;
}
.curtain-right{
  left: 100%;
}
.closeCurtainsR{
  left: 50%;
}
.main-nav{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  z-index: 10;
  display: none;
  width: 100%;
}
.block{
  display: block;
}
.main-nav-list{
  overflow: hidden;
}
.main-nav-list-item{
  position: relative;
  color: #fff;
  font-family: Bernier-Regular;
  width: 100%;
  font-size: 2.6rem;
  //margin: 3.5rem 0;
  text-align: center;
  height: 7rem;
  // opacity: 0;
  a{
    border:1px solid transparent;
    display: inline-block;
    position: relative;
    padding: 0 2.2rem;
    overflow: hidden;
    &::before, &::after{
      transition: 100ms;
      transition-property:transform;
    }
    @include two-strips(1.2rem, 0.32rem, 1rem, -1.3rem, 1.3rem, #fff);
    &:hover{
      @include two-strips(1.2rem, 0.32rem, 1rem, 0.1rem, -0.1rem, #fff);
    }
  }
  
}
.portfolio_header_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.portfolio_header_bg1{
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  &::after{
    background-image: url(/assets/img/svg/portfolio_header.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 30%;
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0.1;
  }
}
.social-white{
  margin: 0;
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 10;
  svg{
    fill:#fff;
  }
}
.menu-button{
 // background-color: #000;
  display: block;
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
    span{
      position: relative;
      border-radius: 2px;
      background-color: #fff;
      display: block;
      height: 2px;
      width: 24px;
      margin: 3px;
      bottom: 0;
      top: 0;
      transition: 300ms;
    }
  &.menu-button-close{
    span{
      &:last-child(){
        bottom: 5px;
        transform: rotate(45deg);
        opacity: 0;
      }
      &:nth-child(2){
        transform: rotate(-45deg)
      }
      &:first-child(){
        top:5px;
        transform: rotate(45deg);

      }
    }
  }
}
.index-content-box{
  overflow: visible;
}
.index-content-main_transparent{
  background-color: transparent;
  .autor__name{
    font-size: 1.8rem;
     font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 0; 
    color: #fff;
  }
  .autor__description{
    font-weight: 100;
    font-size: 0.9rem;
    color: #fff;
    opacity: 0.7;
  }
}
.ava_bigger{
  margin-top: 0;
  width: 10rem;
  height: 10rem;
}
.arrow-down{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform:translateX(-50%);
  z-index: 10;
  transition: 200ms;
  a{
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    padding: 1rem 0.5rem;
  }
  svg{
    height: 100%;
    width: 100%;
    fill:#fff;
    opacity: 0.7;
  }
  &:hover{
    transform:translate(-50%, 0.2rem);
  }
   &:hover svg{
    opacity: 1;
   }
}