.social{
  text-align: center;
  height: 20%;
  position: relative;
}
.social__list{
  display: block;
  width: 100%;
  min-width: 8rem;
  font-size: 0;
  position: relative;
  top: 40%;
  transform:translateY(-50%);
}
.social__list li{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}
.social__item svg{
  fill: #09B09E;
  height: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  color:#286F85;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}
@media (max-width: 416px){
  .social__list{
    top: 25%;
  }
  .social__list li{
    width: 2rem;
    height: 2rem;
    margin: 0 0.7rem;
  }
}