extends ../_template

mixin circle_svg(scill_name)
  <svg width="300" height="300" class="g-circles" viewBox="0 0 300 300">
    <circle r="115" cx="150" cy="150" stroke="#DFDCD5" fill="none" />
    <circle r="115" cx="150" cy="150" stroke="#19C2AB" transform="rotate(-90 150 150)" class="sector" /> 
  </svg>
  span #{scill_name}

block variables
  - var title = 'About'
block content
  .about-wrapper
    section.section-header
      a#hidden-link-top(name="hidden-link-top")
      include ../includes/portfolio_header.pug
    section.section-about
      .about-me
        .about-me__title
          a#second-section(name="second-section")
          h2 Обо мне
        .about-me-description-box
          .about-me-center-box 
            .about-me-photo
              img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
            .about-me-description
              h2 Кто я
              p Я веб разработчик. мне 25 лет. Я занимаюсь разработкой современных веб приложений. Мне нравится делать интересные и современные проэкты.
              p Этот сайт я сделал в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!
      section.my-skills
        .my-skills__title
          h2 Чем я могу быть вам <br> полезен
        .my-skills__desk
          p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .my-skills-box
          .my-skills-box-ceenter
            .my-skills-list-box
              h3 Frontend
              ul.my-skills-list
                li.my-skills__item
                  +circle_svg('HTML 5')
                li.my-skills__item
                  +circle_svg('CSS3')
                li.my-skills__item
                  +circle_svg('JavaScript & jQuery')
            .my-skills-list-box
              h3 Backend
              ul.my-skills-list
                li.my-skills__item
                  +circle_svg('php')
                li.my-skills__item
                  +circle_svg('mySQL')
                li.my-skills__item
                  +circle_svg('Node JS & npm')
                li.my-skills__item
                  +circle_svg('Mongo.db')
            .my-skills-list-box
              h3 WorkFlow
              ul.my-skills-list
                li.my-skills__item
                  +circle_svg('Git')
                li.my-skills__item
                  +circle_svg('Gulp')
                li.my-skills__item
                  +circle_svg('Bower')   
    section.section-contacts
     <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5116.803838198446!2d26.82925597357176!3d50.1162006624248!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1502274700595" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      .contacts
        .contacts__title
          h3 Контакты
        ul.contacts__list
          li.contacts__item skype
            svg
              use(xlink:href="#skype_icon")
          li.contacts__item lychyk9110gmail.com
            svg
              use(xlink:href="#envelope_icon")
          li.contacts__item +380960834315
            svg
              use(xlink:href="#phone_icon")
          li.contacts__item г. Киев ул. Пушкина дом Калатушкина
            svg
              use(xlink:href="#map_marker_icon")
    include ../includes/footer.pug


