extends ../_template

block variables
  - var title = 'Blog'
block content
  .blog-wrapper
    .section-header
      a(name="hidden-link-top")
      include ../includes/portfolio_header.pug
    .section-articles
      .section-articles-box
        nav.nav_articles
          ul.nav_articles__list
            li.nav_articles__item.active Самое важное в sass
            li.nav_articles__item Приемы в верстке, без которых не обходится ни один сайт
            li.nav_articles__item Самый необходимый набор Gulp Плагинов
            li.nav_articles__item Почему я выбрал Jade
        .articles-list
          .article-list-box
            .article
              .article__header
                h3 Самое важное В sass
              .article__data
                span 22 ноября 2016
              .article__text
                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam accusantium, at repellendus explicabo vero necessitatibus eligendi placeat, delectus voluptates inventore, beatae ducimus repudiandae! Ut quae necessitatibus rem vitae culpa beatae, vel nulla dignissimos, aspernatur officiis dolore placeat. Exercitationem impedit eius temporibus accusantium cupiditate odio, doloremque dolor architecto. Esse fuga excepturi, neque praesentium cum harum amet omnis. Distinctio laborum quas non, nihil quia, rerum vitae aliquam laudantium temporibus modi, nobis iste sequi
                p maxime. Laboriosam veritatis fuga quis. Ipsum voluptatem voluptates impedit aperiam totam consequuntur pariatur natus similique nisi id voluptas, fugiat aliquam quae! Accusamus consequatur obcaecati ipsum minus, excepturi. Soluta, fugit!
            .article
              .article__header
                h3 Приемы в верстке, без которы не обходится ни один сайт
              .article__data
                span 10 ноября 2016
              .article__text
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit eum vel quam inventore et voluptatum accusamus amet cum sunt soluta cumque numquam blanditiis quos, possimus itaque expedita perferendis illum tempore exercitationem debitis ullam. Reiciendis eligendi sint tempora at ab dolores modi sapiente cum doloremque incidunt, facilis tempore sequi quibusdam veritatis iusto tenetur qui, vitae pariatur, hic sed optio aliquam officia deleniti inventore voluptate. Explicabo dicta esse voluptate deserunt quo enim! Atque distinctio quisquam incidunt, numquam illo consectetur perferendis inventore, mollitia cupiditate suscipit ratione, veniam officiis rerum corrupti animi. Ratione culpa officia illo quod. Quae magni iusto esse at tempora perferendis voluptatem voluptates perspiciatis fuga omnis ipsam praesentium id aliquam eligendi laborum adipisci ut impedit et sit quaerat neque doloribus quidem, saepe, explicabo! Sint eaque nulla quo sequi minima accusamus nesciunt porro quaerat
                p facilis soluta, dignissimos quis aut amet. Molestias, obcaecati nostrum hic eius labore perspiciatis fugit ab eligendi doloremque eaque atque aspernatur cum provident unde cupiditate? Nisi perferendis fugit explicabo, voluptates eum error harum sit dolorem, sint soluta alias magni earum repudiandae similique hic inventore! Modi dolorem a ut, temporibus eveniet officiis dolores omnis deserunt cumque. Enim nihil natus, pariatur ratione minima illo ex quam incidunt quos aspernatur voluptatum quis explicabo eos, asperiores. Totam atque, nostrum ipsum tempora, odit adipisci magni deleniti ab, laudantium impedit sed explicabo sapiente sunt consequuntur neque dolorem omnis ut ipsa odio hic fugiat cumque eos et. Facere ratione molestiae explicabo labore ab architecto nobis quo animi perspiciatis officia totam autem distinctio deleniti quaerat repellendus reiciendis nisi at, unde corporis, dignissimos eveniet assumenda. Possimus modi nihil quo cupiditate ipsa nostrum dolorum alias fugit cum excepturi nisi distinctio incidunt, aperiam nam neque ut iusto eligendi, iure nesciunt. Est necessitatibus, cum officia quos ipsam error. Voluptates natus quam cumque corporis cupiditate ut voluptatibus illo rerum eius quaerat.
            .article
              .article__header
                h3 Самый необходимый набор Gulp Плагинов
              .article__data
                span 5 сентября 2016
              .article__text
                p    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, iure rem, vero commodi ab sequi alias illum tempora tempore possimus voluptas mollitia minima quisquam omnis, debitis quas quam! Quisquam enim accusamus suscipit sed adipisci culpa, quaerat corporis neque temporibus impedit repellendus atque minus explicabo, magni sequi. Autem tempora maxime omnis repellat enim a sit exercitationem, repellendus ad at dolorum veniam vel blanditiis pariatur consequuntur, non porro dolorem voluptatum eius labore! Harum facere quasi qui commodi beatae iste porro consequatur voluptatibus? 
                p Ratione alias ex repudiandae quia omnis tenetur, ullam dolore id illum in, tempore inventore optio iusto corrupti nam error? Possimus architecto minus quas. Ratione dolores totam, possimus sunt ex, placeat reprehenderit iure. Eligendi nulla, delectus temporibus mollitia! Tempore voluptates a, eligendi delectus excepturi, necessitatibus ipsam omnis. Veritatis rerum eos vel! Molestias minus odit, dicta consequuntur neque cum enim porro excepturi voluptas, nihil, quia fugiat doloribus deserunt reiciendis quaerat possimus. Est.
            .article
              .article__header
                h3 Почему я выбрал Jade
              .article__data
                span 25 августа 2016
              .article__text
                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, eveniet architecto, similique a, est nulla deleniti ab at laborum harum ipsam. Repellat iure neque eligendi sit cum cupiditate necessitatibus expedita porro harum similique ea, itaque eos natus quia, qui soluta blanditiis tenetur quas quo repellendus tempore, voluptatum debitis dolorum ullam odio. Doloribus, repudiandae odio, ea quidem pariatur sit. Ipsum ullam sit eligendi, alias modi nemo aliquam voluptatibus voluptate facilis nobis, placeat tempora vero vitae? Accusantium natus dolorem asperiores veniam excepturi porro assumenda, libero reiciendis sit necessitatibus quam ad 
                p debitis dolore commodi provident, odit voluptatem atque voluptatum magni alias sint. Suscipit consectetur necessitatibus, inventore mollitia blanditiis iusto odit. Dolores assumenda id porro voluptas placeat sint alias recusandae ipsa, iste quaerat possimus dicta ab, est temporibus sit vero qui modi a. Excepturi reprehenderit odio, sequi non, at quaerat ab ad totam voluptatibus aperiam amet aspernatur placeat aut suscipit. Iure voluptatem quas vel adipisci ipsam assumenda perferendis voluptas, molestiae 
                p sapiente architecto quo, ex? Suscipit, debitis culpa iusto vero officiis, perspiciatis sequi animi voluptatem, nostrum nulla asperiores atque non ea nisi quo eos rem dolorum neque magni sed porro voluptas aliquid ducimus eaque. Mollitia obcaecati delectus voluptate culpa sequi ipsa ea nihil, voluptatem accusantium accusamus aliquam atque, assumenda harum ducimus unde tenetur neque nostrum temporibus debitis laboriosam impedit in fuga natus tempore. Asperiores eos sed fuga aliquam, culpa veniam, dicta rem. Dolorum consequatur voluptates cupiditate architecto, ex et placeat repellendus reiciendis deserunt ut, expedita corrupti amet obcaecati vero illo quae. Sint eius, fugiat officia?

    include ../includes/footer.pug