extends ../_template

block variables
  - var title = 'Welcome'
block content
 
  .index-wrapper
    span.authorization-button Авторизоваться
    .index-content
      include ../includes/index-content.pug
      include ../includes/login-form.pug
    .index-copyright
      p.index-copyright__autor © Александр Лычик | создано с любовью. LoftSchool 2017