extends ../_template

block variables
  - var title = 'Welcome'
block content
 
  .index-wrapper
    header.header
      .authorization-button
        p Авторизоваться
    .index-content
      include ../includes/index-content.pug
      include ../includes/login-form.pug
    .index-footer 
      p.index-footer__autor © Лычик Александр | создано с любовью. LoftSchool 2017