extends ../_template

block variables
  - var title = 'Welcome'
block content
  .index-wrapper
    .parallax
      .parallax__layer
        img(src="/assets/img/bg/bg_1-min.png")
      .parallax__layer
        img(src="/assets/img/bg/bg_2-min.png")
      .parallax__layer
        img(src="/assets/img/bg/bg_3-min.png")
      .parallax__layer
        img(src="/assets/img/bg/bg_4-min.png")
      .parallax__layer
        img(src="/assets/img/bg/bg_5-min.png")
      .parallax__layer
        img(src="/assets/img/bg/bg_6.png")
    span#authorization-button Авторизоваться
    .index-content
      .plate#plate
        .index-content-box.plate-front
          .index-content-main
            .ava
              img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
            .autor
              h1.autor__name Александр Лычик
              h3.autor__description Личный сайт веб разработчика
            .social
              include ../includes/social.pug
          nav.index-nav
            ul.index-nav__list
              li.index-nav__item-works Мои работы
                a(href="works.html")
              li.index-nav__item-about Обо мне
                a(href="about.html")
              li.index-nav__item-blog Блог
                a(href="blog.html")
        include ../includes/login-form.pug
    .index-copyright
      p.index-copyright__autor © Александр Лычик <span>создано с любовью | 2017<span>