.login-wrapper
  .login-box
    h1.login-box__header Авторизуйтесь
    form.loginform
      label(for="login")
        input#login(type="text")
      label(for="password")
        input#password(type="text")
      input(type="checkbox")
      label(for="answer")  
        //- input(type="radio" name="answer" value="true")
        //- input(type="radio" name="answer"  value="false")
  nav.login-nav
    ul.login-nav__list
      li
      li