extends ../_template

block variables
  - var title = 'Works'
block content
  .works-wrapper
    section.section-header
      a#hidden-link-top(name="hidden-link-top")
      include ../includes/portfolio_header.pug   
    a#second-section(name="second-section")
    section.section-works
      section.section-works__title
        h2 Мои работы
      .works-box
        .work-description
          .work-description-box
            .work-description__title
              h2.animateText Work title
            .work-description__technologies
              p.animateText description technologies
            .work-description__botton Посмотреть сайт
              a(href="#")
              svg
                use(xlink:href="#link_icon")
        .slider
          .slider__image-box
            ul.slider__images-list
              li.slider__images-item
                .slider__image-description
                  h2 Сайт школы онлайн образования
                  p html, css, javascript
                  a(href="https://www.facebook.com/AleksandrLychyk" target="_blank")
                img(src="/assets/img/works_image/work_1.png", alt="work_1")
              li.slider__images-item
                .slider__image-description
                  h2 Сайт круче первого номер 2
                  p html html html
                  a(href="https://www.facebook.com/AleksandrLychyk" target="_blank")
                img(src="/assets/img/works_image/work_2.png", alt="work_2")
              li.slider__images-item
                .slider__image-description
                  h2 Проэкт круче крутых яиц номер 3
                  p jquery jquery jquery
                  a(href="https://www.facebook.com/AleksandrLychyk" target="_blank")
                img(src="/assets/img/works_image/work_0.jpg", alt="work_3")
          .slider__buttons
            .slider__buttons-bottom
              ul.slider__bottom-preview
                li
                  img(src="/assets/img/works_image/work_0.jpg", alt="work_3")
                li
                  img(src="/assets/img/works_image/work_2.png", alt="work_2")
              span.icon.left
                svg
                  use(xlink:href="#arrow_down_icon")
            .slider__buttons-top
              ul.slider__top-preview
                li
                  img(src="/assets/img/works_image/work_2.png", alt="work_1")
                li
                  img(src="/assets/img/works_image/work_3.png", alt="work_2")
              span.icon.right
                svg
                  use(xlink:href="#arrow_bottom_icon")
    section.section-contact-form
      #contact-form-box.contact-form-box
        form#contact-form.contact-form
          .contact-form__header Связаться со мной
          input#name(type="text" name="name" placeholder="Имя")
          input#mail(type="email" name="mail" placeholder="Email")
          textarea#message(type="text" name="message" placeholder="Ваше сообщение")
        .contact-form__buttons   
          input#send-message(type="button" value="Отправить")
          input#reset(type="button" value="Очистить")
        .blur
          .blur__bg

    include ../includes/footer.pug





