extends ../_template

block variables
  - var title = 'Works'
block content
  .works-wrapper
    .section-header
      a(name="hidden-link-top")
      include ../includes/portfolio_header.pug   
    a(name="second-section")
    .section-works
      .section-works__title
        .works__title_bg
          .works__title_bg2
        h2 Мои работы
      .works-box
        .work-description
          .work-description-box
            .work-description__title 
              h2 Сайт школы онлайн <br>образования
            .work-description__technologies html, css, javascript
            .work-description__botton Посмотреть сайт
              svg
                use(xlink:href="#link_icon")
        .slider
          .slider__image
          .slider__buttons
            .slider__buttons-bottom
              span.icon.left
                svg
                  use(xlink:href="#arrow_down_icon")
            .slider__buttons-top
              span.icon.right
                svg
                  use(xlink:href="#arrow_down_icon")
    .section-contact-form
      .contact-form-box
        form.contact-form
          .contact-form__header Связаться со мной
          input#name(type="text" name="name" placeholder="Имя")
          input#mail(type="email" name="mail" placeholder="Email")
          textarea#message(type="text" name="message" placeholder="Ваше сообщение")
        .contact-form__buttons   
          input#send-message(type="button" value="Отправить")
          input#reset(type="reset" value="Очистить")
        .blur

    include ../includes/footer.pug





