extends ../_template

block variables
  - var title = 'Welcome'
block content
  .works-wrapper
    header.portfolio_header
      .portfolio_header_bg
        .portfolio_header_bg1
        .portfolio_header_bg2
          .portfolio_header_bg2__works

      .social.white
        include ../includes/social.pug
      span.menu-button
        svg
          use(xlink:href="#menu_icon")
      .index-content
        .index-content-box
          .index-content-main.index-content-main_transparent
            .ava.ava_bigger
              img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
            .autor
              h1.autor__name Лычик Александр
              h3.autor__description Личный сайт веб разработчика
            .arrow-down
              a#show-works(href="#hidden-link-work")
                svg
                  use(xlink:href="#arrow_down_icon")
    a(name="hidden-link-work")
    .section-works
      .section-works__title
        h2 Мои работы
      .works-box
        .work-description
          .work-description-box
            .work-description__title 
              h2 Сайт школы онлайн образования
            .work-description__technologies html, css, javascript
            .work-description__botton Посмотреть сайт
              svg
                use(xlink:href="#link_icon")
        .slider
          .slider__image
          .slider__buttons
            .slider__buttons-bottom
              span.icon.left
                svg
                  use(xlink:href="#arrow_down_icon")
            .slider__buttons-top
              span.icon.right
                svg
                  use(xlink:href="#arrow_down_icon")



