extends ../_template

block variables
  - var title = 'Welcome'
block content
  .works-wrapper
    a(name="hidden-link-top")
    header.portfolio_header
      .portfolio_header_bg
        .portfolio_header_bg1
        .portfolio_header_bg2
          .portfolio_header_bg2__works
      .social.social-white
        include ../includes/social.pug
      span.menu-button
        svg
          use(xlink:href="#menu_icon")
      .index-content
        .index-content-box
          .index-content-main.index-content-main_transparent
            .ava.ava_bigger
              img.ava__img(src="/assets/img/ava.jpg", alt="avatar")
            .autor
              h1.autor__name Лычик Александр
              h3.autor__description Личный сайт веб разработчика
            .arrow-down
              a#show-works(href="#hidden-link-work")
                svg
                  use(xlink:href="#arrow_down_icon")
    a(name="hidden-link-work")
    .section-works
      .section-works__title
        h2 Мои работы
      .works-box
        .work-description
          .work-description-box
            .work-description__title 
              h2 Сайт школы онлайн образования
            .work-description__technologies html, css, javascript
            .work-description__botton Посмотреть сайт
              svg
                use(xlink:href="#link_icon")
        .slider
          .slider__image
          .slider__buttons
            .slider__buttons-bottom
              span.icon.left
                svg
                  use(xlink:href="#arrow_down_icon")
            .slider__buttons-top
              span.icon.right
                svg
                  use(xlink:href="#arrow_down_icon")
    .section-contact-form
      .contact-form-box
        form.contact-form
          .contact-form__header Связаться со мной
          input#name(type="text" name="name" placeholder="Имя")
          input#mail(type="email" name="mail" placeholder="Email")
          textarea#message(type="text" name="message" placeholder="Ваше сообщение")
        .contact-form__buttons   
          input#send-message(type="button" value="Отправить")
          input#reset(type="reset" value="Очистить")
        .blur
      .arrow-top
        a#show-works(href="#hidden-link-top")
          svg
            use(xlink:href="#arrow_down_icon")
      footer.footer
        .footer-box
          .footer-menu
            nav.footer-nav
              ul.footer-nav__list
                li.footer-nav__item 
                  a(href="works.html") Мои работы
                li.footer-nav__item 
                   a(href="about.html") Обо мне
                li.footer-nav__item 
                  a(href="blog.html") Блог
            .footer-social
              .social.social-in-circle
                include ../includes/social.pug
          .footer-copyright
            .footer-copyright__left Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur
            .footer-copyright__right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, 





